<div class="container">
  <h2 class="text-center">Place a Booking</h2><br>

  <form>
    <div class="form-group">
      <label for="carType">Car Type</label>
      <select class="form-control" id="carType" name="carType">
        <option value="">Select Car Type</option>
        <option value="motorcycle">Motorcycle</option>
        <option value="smallVehicle">Small Vehicle</option>
        <option value="bigVehicle">Big Vehicle</option>
        <option value="lorry">Lorry</option>
      </select>
    </div>

    <div class="form-group">
      <label for="pickupLocation">Pickup Location</label>
      <select class="form-control" id="pickupLocation" name="pickupLocation">
        <option value="">Select Pickup Location</option>
        <option value="Kota Kinabalu">Kota Kinabalu</option>
      </select>
    </div>

    <div class="form-group">
      <label for="dropoffLocation">Dropoff Location</label>
      <select class="form-control" id="dropoffLocation" name="dropoffLocation">
        <option value="">Select Dropoff Location</option>
        <option value="Kudat">Kudat</option>
        <option value="Kota Marudu">Kota Marudu</option>
        <option value="Ranau">Ranau</option>
        <option value="Sandakan">Sandakan</option>
        <option value="Papar">Papar</option>
        <option value="Tawau">Tawau</option>
        <option value="Sipitang">Sipitang</option>
        <option value="Tenom">Tenom</option>
        <option value="Nabawan">Nabawan</option>
      </select>
    </div>

    <div class="form-group">
      <label for="pickupTime">Pickup Time</label>
      <input type="datetime-local" class="form-control" id="pickupTime" name="pickupTime">
    </div>

    <div class="form-group">
      <label for="distance">Distance</label>
      <input type="text" class="form-control" id="distance" name="distance" disabled>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" class="form-control" id="price" name="price" disabled>
    </div>

    <button type="submit" class="btn btn-primary">Place Booking</button>
  </form>
</div>