<div class="container">
  <h2 class="text-center">Booking Details</h2><br>

  <div class="form-group">
    <label for="carTypeResult">Car Type</label>
    <input type="text" class="form-control" id="carTypeResult" name="carTypeResult" readonly>
  </div>

  <div class="form-group">
    <label for="pickupLocationResult">Pickup Location</label>
    <input type="text" class="form-control" id="pickupLocationResult" name="pickupLocationResult" readonly>
  </div>

  <div class="form-group">
    <label for="dropoffLocationResult">Dropoff Location</label>
    <input type="text" class="form-control" id="dropoffLocationResult" name="dropoffLocationResult" readonly>
  </div>

  <div class="form-group">
    <label for="pickupTimeResult">Pickup Time</label>
    <input type="text" class="form-control" id="pickupTimeResult" name="pickupTimeResult" readonly>
  </div>

  <button type="submit" class="btn btn-primary">Confirm Booking</button>
</div>
