<h1>Your Bookings</h1>

<% if @bookings.any? %>
  <% @bookings.each do |booking| %>
    <%= link_to booking_path(booking) do %>
      <%= booking.listing.title %>
    <% end %>
    <p><%= booking.car %> to <%= booking.pickup_datetime %></p>
  <% end %>
<% else %>
  <p>No bookings yet </p>
<% end %>